In [2]:
# Import dependencies
import pandas as pd
import numpy as np

In [17]:
# Read the deal data into a Pandas DataFrame get info on tables
deal_info_df = pd.read_csv('../Data_Resources/deals_table.csv')
deal_info_df.info()
display(deal_info_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32013 entries, 0 to 32012
Data columns (total 72 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              32013 non-null  int64
 1   Created at                      32013 non-null  object
 2   Updated at                      32013 non-null  object
 3   Hs deal ID                      32013 non-null  int64
 4   Hs deal name                    32013 non-null  object
 5   Hs pending design at            22424 non-null  object
 6   Hs turnaround time              19790 non-null  float64
 7   Hs description                  20079 non-null  object
 8   Originial due at                22424 non-null  object
 9   Hs designer ID                  28630 non-null  float64
 10  Hs asset creation link          846 non-null    object
 11  Due at                          22425 non-null  object
 12  Assigned at                     28630 non-null  object
 13  Hs asset creator                6593 non-null   object
 14  Hs delivery date at             6536 non-null   object
 15  Hs client name                  30806 non-null  object
 16  Hs stage                        32002 non-null  object
 17  Slug                            32013 non-null  object
 18  Bd it                           32013 non-null  bool
 19  Hs company name                 31288 non-null  object
 20  Hs owner ID                     31459 non-null  float64
 21  Hs quantity                     13333 non-null  float64
 22  Hs shipper number               5964 non-null   object
 23  Hs distributor po               8517 non-null   object
 24  Hs client type                  31997 non-null  object
 25  Hs payment terms                28975 non-null  object
 26  Qb customer ID                  17284 non-null  float64
 27  Hs number destinations          27696 non-null  float64
 28  Po number                       17484 non-null  float64
 29  Portal created                  15079 non-null  object
 30  Hs ship blind                   19524 non-null  object
 31  External production             0 non-null      float64
 32  Accounting email                15024 non-null  object
 33  Tracking email                  10654 non-null  object
 34  Tracking phone                  5472 non-null   object
 35  Hs company ID                   22216 non-null  float64
 36  Company color                   16287 non-null  object
 37  Products auto generated         0 non-null      float64
 38  Shipping reference              5177 non-null   object
 39  Hs production files link        2 non-null      object
 40  Odoo status                     0 non-null      float64
 41  Change order ID                 0 non-null      float64
 42  Ops notes                       0 non-null      float64
 43  New inquiry token               0 non-null      float64
 44  Referrer                        0 non-null      float64
 45  Hs design difficulty            20430 non-null  object
 46  Automation tool                 14858 non-null  float64
 47  Hs project name                 25056 non-null  object
 48  Viewed designs                  0 non-null      float64
 49  Client notes                    17776 non-null  object
 50  Stage changed at                31998 non-null  object
 51  Hs last activity at             13154 non-null  object
 52  Hs do not send auto follow ups  1527 non-null   object
 53  First follow up sent at         0 non-null      float64
 54  Second follow up sent at        0 non-null      float64
 55  Hs auto follow up count         0 non-null      float64
 56  Follow up task created at       0 non-null      float64
 57  Hs next activity at             0 non-null      float64
 58  Mockups ready at                26385 non-null  object
 59  Needs preview updated           2538 non-null   object
 60  Skip production checks          6 non-null      object
 61  Tier                            50 non-null     float64
 62  Mockup due date                 19773 non-null  object
 63  Status                          12099 non-null  float64
 64  Turnaround changed              16282 non-null  object
 65  Hs dealtype                     28453 non-null  object
 66  Hs requires production files    2 non-null      object
 67  Design needs fix                10132 non-null  object
 68  Tax exempt at                   2070 non-null   object
 69  Project status                  12084 non-null  object
 70  Pending collaborators           32013 non-null  object
 71  Created on                      32013 non-null  object
dtypes: bool(1), float64(24), int64(2), object(45)
memory usage: 17.4+ MB

C:\Users\KatreeceHattaway\AppData\Local\Temp\ipykernel_33952\3294555406.py:2: DtypeWarning: Columns (39,51,52,66) have mixed types. Specify dtype option on import or set low_memory=False.
  deal_info_df = pd.read_csv('../Data_Resources/deals_table.csv')

,ID,Created at,Updated at,Hs deal ID,Hs deal name,Hs pending design at,Hs turnaround time,Hs description,Originial due at,Hs designer ID,...,Mockup due date,Status,Turnaround changed,Hs dealtype,Hs requires production files,Design needs fix,Tax exempt at,Project status,Pending collaborators,Created on
0,105010,2023-01-01T19:01:33.103Z,2024-02-09T00:35:28.466Z,11546272281,Boston University - 11546272281,2023-01-01T19:01:36.000Z,259200000.0,Products: \n\nFrom the client:\n\nClient Notes...,2023-01-04T19:01:33.000Z,102928270.0,...,2023-01-04T06:00:00.000Z,NaN,True,Newbusiness,NaN,NaN,2023-01-18T19:49:48.086Z,Active,[],2023-01-01
1,105014,2023-01-01T23:52:14.779Z,2023-03-02T22:51:26.182Z,11550097306,Kyle - 11550097306,2023-01-01T23:52:16.000Z,259200000.0,Products: \n\nFrom the client: \nFrom me:\n\n\...,2023-01-04T23:52:16.000Z,102928270.0,...,2023-01-04T06:00:00.000Z,NaN,True,Newbusiness,NaN,NaN,NaN,Active,[],2023-01-01
2,105006,2023-01-01T04:58:07.689Z,2023-01-11T15:50:19.497Z,11542565178,gee Brooks - (12-31-2022) - 11542565178,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Newbusiness,NaN,NaN,NaN,Active,[],2023-01-01
3,105011,2023-01-01T20:05:07.001Z,2023-03-28T15:29:19.886Z,11546391954,BraDon - 11546391954,2023-01-01T20:05:09.000Z,259200000.0,Products: \n\nFrom the client: \nFrom me:\n\nP...,2023-01-04T20:05:09.000Z,117540428.0,...,2023-01-04T06:00:00.000Z,NaN,True,Newbusiness,NaN,NaN,NaN,Active,[],2023-01-01
4,105007,2023-01-01T14:26:53.422Z,2023-01-16T19:29:55.241Z,11544124268,Jonathan - 11544124268,2023-01-01T14:26:55.000Z,259200000.0,Products: \n\nFrom the client: \nFrom me:\n\n\...,2023-01-04T14:26:55.000Z,117540428.0,...,2023-01-04T06:00:00.000Z,NaN,True,Newbusiness,NaN,NaN,NaN,Active,[],2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32008,141542,2024-04-09T17:11:34.705Z,2024-04-09T20:53:51.741Z,18531859520,Milan Laser Hair Removal (Gemnote) - 18531859520,2024-04-09T17:12:23.000Z,259200000.0,Turn time: Standard due on 4/10/24\n\nDesign d...,2024-04-12T17:12:18.000Z,NaN,...,2024-04-10T17:12:18.000Z,NaN,True,Existingbusiness,NaN,NaN,NaN,NaN,[],2024-04-09
32009,141550,2024-04-09T17:40:18.487Z,2024-04-09T21:17:37.165Z,18534201471,Maumee Valley School (HOT Graphics) - 18534201471,2024-04-09T17:43:53.000Z,259200000.0,Turn time: Standard due on 4/10/24\n\nDesign d...,2024-04-12T19:39:38.000Z,NaN,...,2024-04-10T17:43:51.000Z,NaN,True,Existingbusiness,NaN,NaN,NaN,NaN,[],2024-04-09
32010,141556,2024-04-09T18:03:42.179Z,2024-04-09T21:23:27.344Z,18534156968,Google Chrome x Connection PO 140866-1 (PromoC...,2024-04-09T18:06:43.000Z,0.0,Turn time: Super Hot (4 hour turn) ðŸ”¥ðŸ”¥ due on 4...,2024-04-12T18:06:40.000Z,33773591.0,...,2024-04-09T18:06:43.000Z,NaN,True,Existingbusiness,NaN,NaN,NaN,NaN,[],2024-04-09
32011,141541,2024-04-09T17:08:51.902Z,2024-04-09T20:53:37.732Z,18532116827,Uprising co with Specialty (Specialty Apparel...,2024-04-09T17:10:34.000Z,259200000.0,Turn time: Standard due on 4/10/24\n\nDesign d...,2024-04-12T17:08:52.000Z,NaN,...,2024-04-10T17:08:52.000Z,NaN,True,Existingbusiness,NaN,NaN,NaN,Active,[],2024-04-09
32012,141551,2024-04-09T17:41:10.568Z,2024-04-09T20:56:09.058Z,18534284068,Lourdes University (HOT Graphics) - 18534284068,2024-04-09T17:45:22.000Z,259200000.0,Turn time: Standard due on 4/10/24\n\nDesign d...,2024-04-12T17:45:19.000Z,NaN,...,2024-04-10T17:45:19.000Z,NaN,True,Existingbusiness,NaN,NaN,NaN,NaN,[],2024-04-09

In [32]:
# Drop columns containing client, employee or any other sensitive data
columns_to_drop = ['Hs deal name', 'Hs company name', 'Ops notes', 'Hs shipper number', 
                   'Accounting email', 'Tracking email', 'Tracking phone',  'Shipping reference', 
                     'Referrer', 'Hs project name', 'Client notes', 'Tax exempt at', 'Pending collaborators',
                     'Hs company ID', 'Company color','Qb customer ID', 'Hs distributor po', 'Hs payment terms',
                     'Hs client name', 'Hs description'
                         ]

# Dropping the specified columns
modified_deal_df = deal_info_df.drop(columns=columns_to_drop)

# Save the modified DataFrame to a new CSV file
modified_deal_df.to_csv('../Modified_Data_Resources/modified_deal_info.csv', index=False)

# Print to confirm completion
print("Columns dropped and new CSV file saved.")

Columns dropped and new CSV file saved.

In [25]:
# Read the deal data into a Pandas DataFrame get info on tables
mockups_df = pd.read_csv('../Data_Resources/mockups_table.csv')
mockups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88307 entries, 0 to 88306
Data columns (total 57 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       88307 non-null  int64
 1   Bmp URL                  88307 non-null  object
 2   Top color                87970 non-null  object
 3   Heel color               88157 non-null  object
 4   Toe color                88157 non-null  object
 5   Created at               88307 non-null  object
 6   Updated at               88307 non-null  object
 7   Fsb URL                  0 non-null      float64
 8   Version number           88293 non-null  float64
 9   Design number            88307 non-null  int64
 10  Colors URL               0 non-null      float64
 11  Chassis                  88307 non-null  int64
 12  Size                     88307 non-null  int64
 13  Fsb blob ID              11375 non-null  float64
 14  Colors                   88302 non-null  object
 15  Bmp blob ID              88113 non-null  float64
 16  Bmp width                88300 non-null  float64
 17  Bmp height               88300 non-null  float64
 18  Plating yarn             87561 non-null  float64
 19  Cuff plating yarn        87561 non-null  float64
 20  Odoo SKU                 1 non-null      float64
 21  Cuff bmp URL             162 non-null    object
 22  Tipping stripe color     406 non-null    object
 23  Is legacy                88307 non-null  bool
 24  Is odoo import           86516 non-null  object
 25  Odoo name                1 non-null      object
 26  Odoo update design       0 non-null      float64
 27  Odoo reference SKU       0 non-null      float64
 28  Favorited at             1525 non-null   object
 29  Elastic color            88254 non-null  object
 30  Odoo loading             88307 non-null  bool
 31  Logo location            0 non-null      float64
 32  Hidden at                4161 non-null   object
 33  Product info ID          88147 non-null  float64
 34  Realistic blob ID        85999 non-null  float64
 35  Left sock                88307 non-null  bool
 36  Logo blob ID             6655 non-null   float64
 37  Customer mockup blob ID  7523 non-null   float64
 38  Color changed by         2128 non-null   float64
 39  Color changed at         2128 non-null   object
 40  SKU created at           0 non-null      float64
 41  Auto SKU                 0 non-null      float64
 42  Front blob ID            85727 non-null  float64
 43  Back blob ID             85725 non-null  float64
 44  Side blob ID             85720 non-null  float64
 45  Preview                  0 non-null      float64
 46  Preview location         0 non-null      float64
 47  Original preview URL     7454 non-null   object
 48  Artboard bmp blob ID     6254 non-null   float64
 49  Locked                   8472 non-null   object
 50  Viewed at                35505 non-null  object
 51  Limited price set        88307 non-null  bool
 52  Odoo import changes      1 non-null      object
 53  Previously ordered       8499 non-null   object
 54  Design source            41280 non-null  object
 55  Designer ID              84074 non-null  float64
 56  Parent mockup ID         230 non-null    float64
dtypes: bool(4), float64(28), int64(4), object(21)
memory usage: 36.0+ MB

C:\Users\KatreeceHattaway\AppData\Local\Temp\ipykernel_33952\1258056661.py:2: DtypeWarning: Columns (25,52,54) have mixed types. Specify dtype option on import or set low_memory=False.
  mockups_df = pd.read_csv('../Data_Resources/mockups_table.csv')

In [10]:
# Read the deal data into a Pandas DataFrame get info on tables
revisions_df = pd.read_csv('../Data_Resources/revisions_table.csv')
revisions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20684 entries, 0 to 20683
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              20684 non-null  int64
 1   Mockup ID       16933 non-null  float64
 2   Version number  16933 non-null  float64
 3   Completed at    15925 non-null  object
 4   Created at      20684 non-null  object
 5   Updated at      20684 non-null  object
 6   Packaging ID    2792 non-null   float64
 7   Product ID      367 non-null    float64
 8   Sock pair ID    568 non-null    float64
 9   Base version    16933 non-null  float64
 10  Read at         7741 non-null   object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.7+ MB

In [11]:
# Read the deal data into a Pandas DataFrame get info on tables
mfg_products_df = pd.read_csv('../Data_Resources/mfg_products_table.csv')
mfg_products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34383 entries, 0 to 34382
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         34383 non-null  int64
 1   Mockup ID                  17136 non-null  float64
 2   Created at                 34383 non-null  object
 3   Updated at                 34383 non-null  object
 4   Packaging ID               12281 non-null  float64
 5   Product ID                 496 non-null    float64
 6   Sock pair ID               1090 non-null   float64
 7   Created on                 34383 non-null  object
 8   Mockup version             17136 non-null  float64
 9   Quantity                   34382 non-null  float64
 10  Manufacturing shipment ID  34383 non-null  int64
 11  Finishing item ID          4470 non-null   float64
 12  Manufacturing ID           29839 non-null  float64
 13  Vendor ID                  29935 non-null  float64
 14  Finisher ID                29940 non-null  float64
 15  Production deadline        29928 non-null  object
 16  Product info ID            29913 non-null  float64
 17  Paired SKU                 1176 non-null   object
 18  Kit number                 34382 non-null  float64
 19  Bundle ID                  31285 non-null  float64
dtypes: float64(13), int64(2), object(5)
memory usage: 5.2+ MB

In [12]:
# Read the deal data into a Pandas DataFrame get info on tables
cart_items_df = pd.read_csv('../Data_Resources/mfg_products_table.csv')
cart_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34383 entries, 0 to 34382
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         34383 non-null  int64
 1   Mockup ID                  17136 non-null  float64
 2   Created at                 34383 non-null  object
 3   Updated at                 34383 non-null  object
 4   Packaging ID               12281 non-null  float64
 5   Product ID                 496 non-null    float64
 6   Sock pair ID               1090 non-null   float64
 7   Created on                 34383 non-null  object
 8   Mockup version             17136 non-null  float64
 9   Quantity                   34382 non-null  float64
 10  Manufacturing shipment ID  34383 non-null  int64
 11  Finishing item ID          4470 non-null   float64
 12  Manufacturing ID           29839 non-null  float64
 13  Vendor ID                  29935 non-null  float64
 14  Finisher ID                29940 non-null  float64
 15  Production deadline        29928 non-null  object
 16  Product info ID            29913 non-null  float64
 17  Paired SKU                 1176 non-null   object
 18  Kit number                 34382 non-null  float64
 19  Bundle ID                  31285 non-null  float64
dtypes: float64(13), int64(2), object(5)
memory usage: 5.2+ MB

: